
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: hsl(0, 0%, 100%);
  color: #050000;
  line-height: 1.6;
}


header {
  background: #4c09d1;
  color: white;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



main {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}

#sobre figure {
  text-align: center;
  margin-bottom: 20px;
}

#sobre img {
  width: 250px;
  height: auto;
  border-radius: 10%;
}

#sobre p {
  margin-bottom: 15px;
  text-align: justify;
}

section {
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  margin-bottom: 15px;
  color: #4c09d1;
}

#projetos ul {
  list-style: none;
}

#projetos li {
  margin-bottom: 20px;
}

#projetos h3 {
  margin-bottom: 5px;
  color: #333;
}

table {
  width: 100%;
  border-radius: 10px;;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background: #4819a5;
  color: white;
}

td {
  background: #f3f0ff;
  border-bottom: 1px solid #ddd;
}

form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}